<% if (@posts.count == 0) %>
    <h3>No posts found!</h3>
<% else %>
    <% @posts.each do |day, entries| %>
        <h3 class="mt-4">Entries for <%= day %></h3>
        <% entries.each do |entry| %>
            <div class="card mt-4">
                <%= link_to post_path(entry), style: 'text-decoration:none', class: 'card-body' do %>
                    <div class="card-title">
                        <p><strong><%= entry.title %></strong> - from <%= entry.username %> aged <%= entry.age %> years</p> 
                    </div>      
                <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>

