<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row row-cols-2">
  <div class="col mt-4">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field( :title, class: 'form-control md-4') %>
  </div>

  <div class="col mt-4">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field(:description, class: 'form-control') %>
  </div>

  <div class="col mt-4">
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field(:username, class: 'form-control')%>
  </div>

  <div class="col mt-4">
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field(:age, class: 'form-control') %>
  </div>

  <br/>

  <div class="mt-4">
    <%= form.submit(class: 'btn btn-primary') %>
  </div>
</div>
<% end %>
